.about-area {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  padding-top: 100px;
}
p {
  font-size: 24px;
  line-height: 50px;
}
.about-area .text-part {
  max-width: 1000px;
  overflow: hidden;
  padding: 0 20px;
  margin: auto;
}
.about-area h1 {
  text-align: center;
}
.border {
  width: 100px;
  height: 3px;
  background: #e74c3c;
  margin: 40px auto;
}
.about-info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 30px;
}
.about a {
  display: inline-block;
  color: #e74c3c;
  text-decoration: none;
  border: 2px solid #e74c3c;
  border-radius: 24px;
  padding: 8px 40px;
  transition: 0.4s linear;
}
.title {
  font-size: 18px;
}
.about a:hover {
  color: #fff;
  background: #e74c3c;
}
.skill {
  margin-bottom: 12px;
}
.progress {
  width: 100%;
  height: 12px;
  background: #ddd;
  border-radius: 12px;
}
.progress-bar {
  height: 12px;
  background: #e74c3c;
  border-radius: 12px;
}
.p1 {
  width: 90%;
  animation: react 2s;
}
.p2 {
  width: 50%;
  animation: node 2s;
}
.p3 {
  width: 70%;
  animation: html 2s;
}
.p4 {
  width: 75%;
  animation: css 2s;
}
.p5 {
  width: 60%;
  animation: sql 2s;
}
.p6 {
  width: 50%;
  animation: net 2s;
}
.p7 {
  width: 50%;
  animation: c 2s;
}
@keyframes react {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}
@keyframes sql {
  0% {
    width: 0%;
  }
  100% {
    width: 60%;
  }
}
@keyframes node {
  0% {
    width: 0%;
  }
  100% {
    width: 50%;
  }
}
@keyframes html {
  0% {
    width: 0%;
  }
  100% {
    width: 70%;
  }
}
@keyframes css {
  0% {
    width: 0%;
  }
  100% {
    width: 75%;
  }
}
@keyframes net {
  0% {
    width: 0%;
  }
  100% {
    width: 50%;
  }
}
@keyframes c {
  0% {
    width: 0%;
  }
  100% {
    width: 50%;
  }
}
.progress-bar span {
  float: right;
  margin-right: 6px;
  line-height: 13px;
  color: #fff;
  font-size: 12px;
}
@media only screen and (max-width: 900px) {
  .about-area h1 {
    font-size: 40px;
    line-height: 1;
  }
  .border {
    margin: 2px auto;
  }
  .about-area p {
    font-size: 25px;
    line-height: 1.3;
  }
}
@media only screen and (max-width: 700px) {
  .about-area h1 {
    font-size: 40px;
    line-height: 1;
  }
  .border {
    margin: 2px auto;
  }
  .about-area p {
    font-size: 20px;
    line-height: 1.3;
  }
}
@media only screen and (max-width: 700px) {
  .about-area h1 {
    font-size: 40px;
    line-height: 1;
  }
  .border {
    margin: 2px auto;
  }
  .about-area p {
    font-size: 20px;
    line-height: 1.3;
  }
}
