.home-area{
    position: relative;
    background-image: url(bg.png);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}
h1{
    font-size: 50px;
    font-family: Audiowide;
}
.home-area{
    font-family: "montserrat", sans-serif;
}
.middle{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
}
.middle h1{
    font-size: 100px;
    text-transform: uppercase;
    font-weight: 900;
    color: #172f4a4e;
    background-image: url(water.png);
    -webkit-background-clip: text;
    animation: water 15s infinite;
    text-shadow: 0 0 20px #3498db;
}
.middle h2{
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 400px;
    text-align: center;
    transform: translate(0%, 0%);
    color: #fff;
    text-shadow: 0 0 20px #3498db;
}
.middle h2:after{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 20px;
    z-index: -1;
    color: 3498db;
    filter: blur(15px);
}
.middle h2::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #2980b9;
    z-index: -2;
    opacity: .5;
    filter: blur(40px);
}
@keyframes water{
    from{
        background-position: left 0 top 0;
    }
    to{
        background-position: left 1000px top 0;
    }
}