.my-work-area {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  padding-top: 40px;
}
.text-part-my-work {
  width: 80%;
}
.my-work-box .card .details .image {
  line-height: 0.2;
  z-index: 2;
}
.my-work-box .card .image {
  width: 70px;
  height: 70px;
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden;
  border: 4px solid white;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.my-work-box .card .content p {
  font-size: 20px;
  line-height: 1.2;
}
.my-work-box .card h3 {
  font-size: 30px;
}
.my-work-box .card h4 {
  font-size: 26px;
}
.my-work-box .card h5 {
  color: whitesmoke;
}
.my-work-box .card .image .company-logo {
  width: 70px;
  height: 70px;
}
.my-work-box {
  margin: 100px auto 100px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  color: white;
}
.my-work-box .card {
  position: relative;
  width: 370px;
  margin: 0 auto;
  background: #333;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}
.my-work-box .card .layer {
  position: absolute;
  top: calc(100% - 2px);
  height: 100%;
  width: 100%;
  left: 0;
  background: linear-gradient(#1abc9c, #2980b9);
  z-index: 1;
  transition: 0.5s;
}
.my-work-box .card:hover .layer {
  top: 0;
}
.my-work-box .card .content {
  z-index: 2;
  position: relative;
}
.slidershow {
  width: 1250px;
  height: 600px;
  overflow: hidden;
}
.my-work-middle {
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.navigation {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  z-index: 2;
}
.button {
  background-color: #e74c3c;
  color: white;
  width: 100px;
  height: 30px;
  border-radius: 25px;
}
.modal {
  display: none;
  position: fixed;
  z-index: 5;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: black;
}
.modal-content {
  color: black;
  margin-top: 20px;
  margin-right: 20px;
}
.closeBtn {
  color: #ccc;
  float: right;
  font-size: 30px;
}
.closeBtn:hover,
.closeBtn:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;
}
.bar {
  width: 50px;
  height: 10px;
  border: 2px solid #96a6b6;
  margin: 6px;
  cursor: pointer;
  transition: 0.4s;
}
.bar:hover {
  background: #34495e;
}
input[name="r"] {
  position: absolute;
  visibility: hidden;
}
.slides {
  width: 500%;
  height: 100%;
  display: flex;
}
.slide {
  width: 20%;
  transition: 0.6s;
}
.slide img {
  width: 100%;
  height: 100%;
}
#r1:checked ~ .s1 {
  margin-left: 0;
}
#r2:checked ~ .s1 {
  margin-left: -20%;
}
#r3:checked ~ .s1 {
  margin-left: -40%;
}
#r4:checked ~ .s1 {
  margin-left: -60%;
}
#r5:checked ~ .s1 {
  margin-left: -80%;
}
input,
.toggle {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 20px;
  right: 20px;
  outline: none;
  z-index: 1;
}
input {
  opacity: 0;
}
.toggle {
  pointer-events: none;
  border-radius: 50%;
  background: #3498db;
  transition: 0.5s;
  text-align: center;
  line-height: 50px;
  font-size: 36px;
  box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.4);
}
input:checked ~ .toggle {
  box-shadow: 0 0 0 2000px rgba(0, 0, 0, 0.7);
  transform: rotate(225deg);
}
.imgBx,
.detail {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.detail {
  position: absolute;
  padding: 20px;
  box-sizing: border-box;
  z-index: 2;
  pointer-events: none;
  transition: 0.5s;
  opacity: 0;
}
input:checked ~ .detail {
  opacity: 1;
  transition-delay: 0.5s;
}
.detail h2 {
  font-size: 30px;
  margin-bottom: 10px;
  color: #fff;
}
.detail p {
  margin: 0 10px 0 10px;
  color: #fff;
}
.phone-size {
  display: none;
}
@media only screen and (max-width: 1300px) {
  .slidershow {
    width: 900px;
    height: 500px;
    overflow: hidden;
  }
  .detail h2 {
    font-size: 20px;
  }
  .detail p {
    font-size: 18px;
    line-height: 1.8;
  }
}
@media only screen and (max-width: 900px) {
  .slidershow {
    width: 700px;
    height: 400px;
    overflow: hidden;
  }
  .detail h2 {
    font-size: 18px;
  }
  .detail p {
    font-size: 17px;
    line-height: 1.3;
  }
}
@media only screen and (max-width: 700px) {
  .slidershow {
    width: 550px;
    height: 300px;
    overflow: hidden;
  }
  .detail h2 {
    font-size: 15px;
  }
  .detail p {
    font-size: 14px;
    line-height: 1;
  }
}
@media only screen and (max-width: 500px) {
  .phone-size {
    display: block;
  }
  .laptop-ipad-size {
    display: none;
  }
  .work-image {
    width: 100%;
  }
  .my-work-area {
    height: 1500px;
  }
  .mobile-content {
    color: white;
    padding: 10px;
  }
  .my-work-box .card {
    width: 300px;
  }
  .my-work-box .card .details {
    line-height: 1;
  }
  .text-part-my-work {
    margin: 0;
    padding: 0;
  }
  .my-work-area {
    margin: 0;
    padding: 0;
  }
}
