.my-work-area {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  height: 100vh;
  padding-top: 70px;
}
.slidershow {
  width: 1250px;
  height: 600px;
  overflow: hidden;
}
.my-work-middle {
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.navigation {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  z-index: 2;
}
.bar {
  width: 50px;
  height: 10px;
  border: 2px solid #96a6b6;
  margin: 6px;
  cursor: pointer;
  transition: 0.4s;
}
.bar:hover {
  background: #34495e;
}
input[name="r"] {
  position: absolute;
  visibility: hidden;
}
.slides {
  width: 500%;
  height: 100%;
  display: flex;
}
.slide {
  width: 20%;
  transition: 0.6s;
}
.slide img {
  width: 100%;
  height: 100%;
}
#r1:checked ~ .s1 {
  margin-left: 0;
}
#r2:checked ~ .s1 {
  margin-left: -20%;
}
#r3:checked ~ .s1 {
  margin-left: -40%;
}
#r4:checked ~ .s1 {
  margin-left: -60%;
}
#r5:checked ~ .s1 {
  margin-left: -80%;
}
input,
.toggle {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 20px;
  right: 20px;
  outline: none;
  z-index: 1;
}
input {
  opacity: 0;
}
.toggle {
  pointer-events: none;
  border-radius: 50%;
  background: #3498db;
  transition: 0.5s;
  text-align: center;
  line-height: 50px;
  font-size: 36px;
  box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.4);
}
input:checked ~ .toggle {
  box-shadow: 0 0 0 2000px rgba(0, 0, 0, 0.7);
  transform: rotate(225deg);
}
.imgBx,
.detail {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.detail {
  position: absolute;
  padding: 20px;
  box-sizing: border-box;
  z-index: 2;
  pointer-events: none;
  transition: 0.5s;
  opacity: 0;
}
input:checked ~ .detail {
  opacity: 1;
  transition-delay: 0.5s;
}
.detail h2 {
  font-size: 30px;
  margin-bottom: 10px;
  color: #fff;
}
.detail p {
  margin: 0 10px 0 10px;
  color: #fff;
}
@media only screen and (max-width: 1300px) {
  .slidershow {
    width: 900px;
    height: 500px;
    overflow: hidden;
  }
  .detail h2 {
    font-size: 20px;
  }
  .detail p {
    font-size: 18px;
    line-height: 1.8;
  }
}
@media only screen and (max-width: 900px) {
  .slidershow {
    width: 700px;
    height: 400px;
    overflow: hidden;
  }
  .detail h2 {
    font-size: 18px;
  }
  .detail p {
    font-size: 17px;
    line-height: 1.3;
  }
}
@media only screen and (max-width: 700px) {
  .slidershow {
    width: 550px;
    height: 300px;
    overflow: hidden;
  }
  .detail h2 {
    font-size: 15px;
  }
  .detail p {
    font-size: 14px;
    line-height: 1;
  }
}
@media only screen and (max-width: 500px) {
  .slidershow {
    width: 300px;
    height: 150px;
    overflow: hidden;
  }
  .detail h2 {
    font-size: 15px;
  }
  .detail p {
    font-size: 14px;
    line-height: 1;
  }
  .bar {
    width: 20px;
    height: 5px;
  }
}
